@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Bai+Jamjuree:wght@400;600&family=Edu+QLD+Beginner:wght@500&family=Fira+Sans:ital,wght@1,700&family=Gentium+Book+Plus:ital@1&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Mingzat&family=Outfit:wght@300;400;600&family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@200;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@300;400;500;700;800;900&family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-image: url(data/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'raleway';
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.one{
    border-top-right-radius: 85px !important;
    padding: 35px 40px;
    margin-bottom: 2%;
}
.one .pictures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap:23px;
}
.one .pictures .image{
    background-color: #0C122C;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    display:flex;
    flex-direction: column;
    padding: 30px;
}
.two .p-1{
    color: #dddbff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.two .p-1 .numbers{
    font-weight: 700;
}
.two .p-1 .numbers .number{
    font-size: 13px;
}
.box{
    width: 86%;
    height: auto;
    background-color: #1D2C67;
    border-radius: 10px;
    position: relative;
}
.two .progress{
    width: 100%;
    padding: 4px;
    background-color: #0c122c;
    margin: 10px 0;
    border-radius: 10px;
}
.two .progress .line{
    background-image: linear-gradient(90deg, #ffa399, #ff4d97);
    width: 75%;
    height: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}
.two .progress .line .ball{
    border-radius:10px;
    width: 14px;
    height: 14px;
    background-color:#dddbff;
}
.two .small-txt{
    display: flex;
    justify-content: space-between;
    color: #dddbff;
    font-weight: 700;
    font-size: 14px;
}
.two .p-4{
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px ;
    display: flex;
    flex-direction: row;
    margin-bottom: -70px;
}
.two .p-4 .big-number{
    color: #0c122c;
    font-weight: 700;
    font-size: 37px;
}
.two .p-4 .gb{
    color: #95969b;
    font-size: 14px;
    font-weight: 700;
    margin: auto 10px;
}
@media screen and (max-width:610px){
    .two .p-4{
        padding: 8px 12px;
    }
    .two .p-4 .big-number{
        font-size: 22px;
    }
    .two .p-4 .gb{
        font-size: 11px;
    }
    .two .p-1{
        font-size: 12px;
    }
    .two .p-4{
        margin-bottom: -47px;
    }
}